
/*
TALLER 2
*/

/*.nav{
	position: fixed;
}

.section{
margin-top: 50px;
}*/
#navegacion{
	font-size: 10px;
	background-color: blue;
position: fixed;
	text-align: center;
}
#enlace{
	color: gray;
	text-decoration: none;
	margin: 10px;	

}
#formulario_registro{

	font-size: 20px;
	padding: 10px;
	clear: right;
	
	border: 2px solid;
	
}
#formulario_tareas{
	
	clear: right;
	font-size: 20px;
	padding: 10px;
	border: 2px solid;
	margin-right: auto;
	margin-left: auto;
}
#tabla{

	clear: right;
	float: left;
}
.formulario_datos{

	font-size: 20px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}
.contenido{
	margin-top: 60px;
	/*background-color: green;*/
}

.producto{
	background-color: yellow;
	margin:15px;
}

.fondo_producto{
	background-color: pink;
}


#cate1{
background-color: red;
}
#cate2{
background-color: red;
}
#cate3{
background-color: red;
}
#cate4{
background-color: red;
}
#cate5{
background-color: red;
}
.categorias{
background-color: green;
margin: 5px;
}