
/*
TALLER 2
*/

/*.nav{
	position: fixed;
}

.section{
margin-top: 50px;
}*/
*{
	margin: 0px;
	padding:0px;
	text-decoration: none;
	color: #413e49;
}
body{
	background-color: #73616d;
	/*background-color: red;*/
}
h3{
	color: #f7e3be;
	text-shadow:1px 1px  #413e49;

}
h4{
	color: #413e49;
	font-size: 25px;
	text-shadow:1px 1px  #73616d;

}
table{
	border-style: none;	
	margin-top: 15px;
}

th{	
	border-style: solid;
	background-color: #413e49;
	border-color: #73616d;
		-moz-border-radius: 15px 15px 15px 15px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 15px 15px 15px 15px;
	/* para Opera */
	border-radius: 15px 15px 15px 15px;
	border-width: 5px;
color: #f7e3be;
padding: 10px;
margin: 5px;

}

td{	
	border-style: solid;	
	background-color: #f7e3be;
	border-color: #73616d;
		-moz-border-radius: 15px 15px 15px 15px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 15px 15px 15px 15px;
	/* para Opera */
	border-radius: 15px 15px 15px 15px;
	border-width: 5px;
color: #413e49;

padding: 10px;
margin: 5px;

}
b{
	font-size: 20px;
}
#navegacion{
	font-size: 10px;
	background-color: #413e49;
	-moz-border-radius: 5px 5px 15px 15px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 5px 5px 15px 15px;
	/* para Opera */
	border-radius: 5px 5px 15px 15px;
	box-shadow: 2px 2px #73616d;
	position: fixed;
	text-align: center;
}
#enlace{
	color: #f7e3be;
	text-decoration: none;
	margin: 10px;
		/*background-color: red;
		width: 100%;*/
}
#enlace:hover{
	color: #fcfce4;
}
#formulario_registro{

	font-size: 20px;
	padding: 10px;
	clear: right;
	background-color: #413e49;
	border: 2px solid;
	
}
#formulario_tareas{
	
	clear: right;
	font-size: 20px;
	padding: 10px;
	border: 2px solid;
	margin-right: auto;
	margin-left: auto;
}
#tabla{

	clear: right;
	float: left;
}
.formulario_datos{

	font-size: 20px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}
.contenido{
	margin-top: 60px;
	/*background-color: green;*/
}
.redondo{
	-moz-border-radius: 15px 15px 15px 15px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 15px 15px 15px 15px;
	/* para Opera */
	border-radius: 15px 15px 15px 15px;
	
}
.producto{
	background-color: #a47e59;
	 margin:15px;
}

.fondo_producto{
	background-color: #f7e3be;
	
}
.fondo_producto_arriba{
	-moz-border-radius: 15px 15px 0px 0px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 15px 15px 0px 0px;
	/* para Opera */
	border-radius: 15px 15px 0px 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;

}
.fondo_producto_abajo{
	-moz-border-radius: 0px 0px 15px 15px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 0px 0px 15px 15px;
	/* para Opera */
	border-radius: 0px 0px 15px 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
}


#cate1{
	background-color: #fcfce4;
}
#cate2{
	background-color: #b38184;
}
#cate3{
	background-color: #bbe9d0;
}
#cate4{
	background-color: #b9d7d9;
}
#cate5{
	background-color: #f0b39e;
}
.categorias{
	background-color: #413e49;
	-moz-border-radius: 15px 15px 15px 15px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 15px 15px 15px 15px;
	/* para Opera */
	border-radius: 15px 15px 15px 15px;
	margin: 5px;
}